.xoo-options-expl {
	font-size: 20px !important;
}
table.xoo td {
  font-family: "Monospace";
  font-size: 14px;
  padding: 4px 14px 4px 4px; 
  border-bottom: 1px solid #e5e5e5;
}
table.xoo tr.head {
  background-color: #9AE5AA;
}
table.xoo tr:nth-child(even) {
  background: #eee;
}
.xoo a[target="_blank"]:after {
  content: "";
}
.xoo-list-toggles {
	max-width: 450px;
	overflow: hidden;
	margin-right: 35px;
}
.xoo_debug_wrapper {
	margin-bottom: 20px;
}
#xse_output {
	margin: 10px 0px;
	padding: 0px 0px;
	border-radius: 4px;
	max-width: 700px;
}
#xse_status {
	color: #555;
	font-style: italic;
}
.xse-action {
	display: flex !important;
	align-items: center;
}
#xse_loading {
	margin-left: 10px;
}
.xoo-debug {
	margin-top: 10px;
	padding: 10px;
	color: darkred;
	background-color: white;
	border: 1px solid black;
	border-radius: 4px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}
.xoo-debug:before {
	content: "xoo debug screen";
	color: #222;
	font-weight: 600;
	margin-bottom: 10px;
}
.xoo-select {
	margin: 10px 20px 20px 0px;
	min-width: 200px;
}
.xoo-select > h4 {
	margin: 10px 0px;
}
.xoo-select-multi {
	height: 200px !important;
	min-width: 200px;
}
.xoo-select-wrapper {
	display: flex;
    flex-flow: row wrap;
}
.xse_button {
	margin: 0px 10px;
}
.xoo-tab {
	margin-left: 20px;
	color: #666;
}
.xoo-advanced-options-wrapper {
	margin: 20px 0px;
	background-color: #d4d4d4;
	padding: 0px 20px;
}
.xoo-advanced-options-wrapper hr {
	border: 0;
    border-bottom: 1px dashed #c4c4c4;
	margin: 10px 0px;
}
.xoo-footer-info {
	color: #ccc;
}
.xoo-footer-debug {
	color: darkred;
}
.xoo-vertical {
	display: flex;
    flex-flow: column wrap;
	align-content: flex-start;
}
.xoo-vertical-group {
	margin: 0px 0px 10px 0px;
}

.xoo-toggle-wrap {
	margin-bottom: 25px; 
}

.xoo-label {
	font-size: 18px;
	vertical-align: middle;
}

/* The switch - the box around the toggle */
.xoo-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 10px;
}

/* Hide default HTML checkbox */
.xoo-switch input {display:none;}

/* The toggle */
.xoo-toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.xoo-toggle:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .xoo-toggle {
  background-color: #2196F3;
}

input:focus + .xoo-toggle {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .xoo-toggle:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.xse-menu-icon {
	height: 20px;
	width: 20px;
	padding: 7px;
	vertical-align: middle;
}